* {
    padding: 0;
    margin:  0;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    color: var(--cor-4);
    
}

.main-title::after {
    display: none;
}