@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Lato&family=Montserrat:wght@400;600&family=Poppins&display=swap');

:root {
    --cor-1: #00171F;
    --cor-2: #001021;
    --cor-3: #F0F3F5;
    --cor-4: #EC2D01;
}

* {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-3);
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: var(--cor-2);
    font-size: 14px;
}


header, .navbar {
    background-color: var(--cor-1);
    padding-left: 12rem;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0px;
}

.navbar-nav {
    display: flex;
    gap: 16px;
}

#navbar-links a {
    color: var(--cor-3);
    transition: .2s;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#navbar-links a:hover {
    color: var(--cor-4);
}

/* Slider */

.container-fluid {
    padding: 0;
}

.parallax {
    min-height: 95vh;
    margin-bottom: 5vh;
    background-size: cover;
    background-position: center;
}

#mainSlider .carousel-caption {
    top: 22vh;
}

#mainSlider .carousel-caption h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 4vh;
}

#mainSlider .carousel-caption p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 100px;
    color: var(--cor-3);
}

.destaqueTexto {
    color: var(--cor-4);
}

.destaqueTexto:hover {
    color: var(--cor-4);
    text-decoration: none;
}

.main-btn {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--cor-4);
    color: var(--cor-3);
    text-transform: uppercase;
    width: 200px;
    height: 600px;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: var(--cor-3);
    background-color: transparent;
    border-color: var(--cor-4);
}

/* Sobre a empresa */

#about-href {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -92px;
    background-color: transparent;
    z-index: -1;
}

#about-img {
    border-radius: 8px;
    filter: contrast(110%);
}

.main-title {
    color: var(--cor-2);
    margin: 0 0 65px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid var(--cor-1);
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 20px;
    color: var(--cor-2);
    font-weight: 900;
    text-transform: uppercase;
}

#about-first-paragraph {
    margin-top: 30px;
}

.about-paragraph {
    font-size: 17px;
    color: var(--cor-1);
}

/* Especialidades */

#services-href {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -92px;
    background-color: transparent;
    z-index: -1;
}

.services-image {
    height: 128px;
    margin-bottom: 20px;
}

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box p {
    font-size: 18px;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Missao */

#mission-href {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -92px;
    background-color: transparent;
    z-index: -1;
}

/* Clientes */

#clients-href {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -92px;
    background-color: transparent;
    z-index: -1;
}

.card {
    margin-bottom: 32px;
}

.client-image {
    height: 216px;
}

#Adipec, #Ypioca {
    margin-top: 44px;
    height: 172px;
    margin-left: 64px;
    width: 218px;
}

#Adipec {
    width: 218px;
}

.card-body {
    text-align: center;
}

/* Contato */

#contact-href {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -92px;
    background-color: transparent;
    z-index: -1;
}

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--cor-4);
}

.contact-box i {
    color: var(--cor-2);
    border: 1px solid var(--cor-2);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: 900;
    color: var(--cor-4);
}

#msg-form p {
    font-size: 22px;
}

#contact-form input[type="email"], #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: var(--cor-4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--cor-4);
}

#contact-form .main-btn {
    margin-top: 16px;
    width: 120px;
    height: 50px;
    
}

#contact-form .main-btn:hover {
    color: var(--cor-4);
}

#thanksMessage {
    color: var(--cor-1);
    font-weight: 500;
    transition: .4s;
}


/* Copy */

#copy-area {
    background-color: var(--cor-2);
}

#copy-area .container {
    padding: 10 0px;
    text-align: center;
}

#copy-area .container p {
    font-size: 24px;
    color: var(--cor-3);
    margin-bottom: 0;
}

/* Responsive Width */

@media (min-width: 1200px) and (max-width: 1440px) {
    /* Gerais */
    .container {
        padding: 3rem 4rem;
    }

    .navbar {
        padding: 1rem 0;
    }

    #navbar-links a {
        font-size: 22px;
    }

    /* Slider */
    #mainSlider .carousel-caption h2 {
        font-size: 2.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.6rem;
        margin-bottom: 5vh;
    }


    /* Clientes */

    .card {
        height: 40vh;
    }

    .client-image {
        width: 100%;
    }

    #Adipec, #Ypioca {
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    /* Gerais */    
    .container {
        padding: 3rem 4rem;
    }

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 2.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }

    /* Navbar */

    .navbar {
        padding: 1rem 0;
    }

    .navbar img {
        height: 72px;
    }

    #navbar-links a {
        font-size: 18px;
    }

    /* Clientes */

    .card {
        height: 40vh;
    }

    .client-image {
        width: 100%;
    }
    
    #Adipec, #Ypioca {
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    /* Gerais */
    
    .container {
        padding: 3rem 2rem;
    }

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 2.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }

    /* Navbar */

    .navbar {
        padding: 1rem 0;
    }

    .navbar img {
        height: 76px;
    }

    /* Clientes */

    .card {
        height: 20rem;
    }
    
    .client-image {
         width: 100%;
    }
    
        #Adipec, #Ypioca {
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Gerais */

    .container {
        padding: 2rem 0;
    }

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 2.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.4rem;
        margin-bottom: 5vh;
    }

    /* Navbar */

    .navbar {
        padding: 10px 60px;
    }

    /* Slider */

    .parallax {
        width: 100vw;
    }

    /* Clientes */

    .card {
        height: 20rem;
    }

    .client-image {
        width: 100%;
    }

    #Adipec, #Ypioca {
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
}

@media (min-width: 425px) and (max-width: 767px) {

    /* Gerais */

    .container {
        padding: 24px 0;
    }

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 2.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }

    /* Navbar */
    .navbar {
        padding: 10px 30px;
    }

    .navbar img {
        height: 68px;
    }

    .navbar-nav {
        padding-top: 2vh;
        margin-left: 5vw;
    }

    /* Slider */

    #mainSlider {
        margin-bottom: 8vh;
    }

    .parallax {
        width: 100vh;
    }

    #mainSlider .carousel-caption {
        top: 15vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 32px;
    }

    .carousel-caption .main-btn {
        display: none;
    }

    /* Services */

    .service-box p {
        font-size: 16px;
    }

    /* Sobre */

    #about-area img {
        height: 30vh;
        margin-left: 4vw;
        margin-bottom: 3vh;
    }

    .main-title {
        font-size: 32px;
    }

    /* Clientes */

        .card {
            width: 50vw;
            margin-left: auto;
            margin-right: auto;
        }
    
        #Adipec, #Ypioca {
            height: 20vh;
            margin-left: 10vw;
            width: 30vw;
        }

    #Adipec {
        width: 156px;
    }

    #Campari {
        height: 196px;
    }
}

@media (min-width: 425px) and (max-width: 604px) {

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 1.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.2rem;
    }
}

@media (min-width: 375px) and (max-width: 424px) {

    /* Gerais */
    
    .container {
        padding: 20px 0px;
    }
    /* Navbar */

    .navbar {
        padding: 20px;
    }
    .navbar img {
        height: 62px;
    }

    /* Slider */

    .parallax {
         width: 100vh;
    }

    #mainSlider .carousel-caption {
        top: 15vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 1.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.1rem;
        margin-bottom: 5vh;
    }

    .carousel-caption .main-btn {
        display: none;
    }

    /* Sobre */

    .main-title {
        font-size: 28px;
    }

    #about-area img {
        margin: 0 0 5vh 0;
    }

    /* Clientes */

    #contact-title::after {
        margin-top: 1rem;
    }

    .card {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    #Adipec, #Ypioca {
        height: 20vh;
        margin-left: 10vw;
        width: 30vw;
    }
}

@media(min-width: 320px) and (max-width: 374px) {

    /* Gerais */

    .container {
        padding: 20px 0px;
    }

    /* Navbar */

    .navbar {
        padding: 10px 20px;
    }
    .navbar img {
        height: 50px;
    }

    /* Slider */

    .parallax {
        width: 100vh;
    }

    #mainSlider .carousel-caption {
        top: 10vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 1.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.1rem;
        margin-bottom: 5vh;
    }

    .carousel-caption .main-btn {
        display: none;
    }

    /* Sobre */

    #about-area img {
        margin: 0 0 10vw 0px
    }

    .main-title {
        font-size: 24px;
    }

    /* Clientes */

    .card {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    #Adipec, #Ypioca {
        height: 15vh;
        margin-left: 16vw;
        width: 30vw;
    }
}

/* Slider font responsive */

@media (max-width: 1440px) and (max-height: 692px) {
    
    /* Slider */

    .carousel-caption .main-btn {
        display: none;
    }
}

@media (max-width: 1256px) and (max-height: 574px) {
    #mainSlider .carousel-caption h2 {
            font-size: 2rem;
        }
    
        #mainSlider .carousel-caption p {
            font-size: 1.4rem;
        }
}

@media (max-width: 1064px) and (max-height: 574px) {

    /* Slider */

    #mainSlider .carousel-caption h2 {
        font-size: 2rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) and (max-height: 598px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) and (max-height: 524px) {

    /* Slider */ 
    #mainSlider .carousel-caption {
        top: 25vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 1.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1rem;
    }

    .parallax {
        width: 100vw;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 750px) and (max-height: 574px) {
    #mainSlider .carousel-caption p {
        font-size: 1.3rem;
    }
}

@media (max-width: 586px) and (max-height: 574px) {
    #mainSlider .carousel-caption p {
        font-size: 1.2rem;
    }
}

@media (max-width: 538px) and (max-height: 574px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.8rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1.1rem;
    }
}

@media (max-width: 443px) and (max-height: 574px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.6rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1rem;
    }
}

@media (max-width: 425px) and (max-height: 660px) {
    #mainSlider .carousel-caption h2 {
            font-size: 1.6rem;
        }

    #mainSlider .carousel-caption p {
        font-size: 1rem;
    }

    #about-area img {
        height: 30vh;
        width:80vw;
        margin-bottom: 3vh;
    }
}

@media (max-width: 425px) and (max-height: 510px) {

    #mainSlider .carousel-caption {
        top: 18vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 1.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) and (max-height: 440px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 0.8rem;
    }
}

@media (max-width: 354px) and (max-height: 574px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.6rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1rem;
    }
}

@media (max-width: 330px) and (max-height: 574px) {
    #mainSlider .carousel-caption h2 {
        font-size: 1.5rem;
    }

    #mainSlider .carousel-caption p {
        font-size: 1rem;
    }
}

